<ng-container *ngIf="show">
    <mat-progress-bar
        [mode]="mode"
        [value]="progress"></mat-progress-bar>
</ng-container>
<!-- <ng-container *ngIf="show">
    <div   id="preloader">
      <div id="loader"></div>
    </div>
   
  </ng-container > -->

<!-- <div class="content"  *ngIf="show">
  <div class="loading">
    <p>Loading..</p>
    <span></span>
  </div>
</div> -->

<!-- <div class="wrapper">
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="shadow"></div>
  <div class="shadow"></div>
  <div class="shadow"></div>
  <span>Loading</span>
</div> -->

<!-- <div class="group">
  <div class="bigSqr">
  <div class="square first">
    <div class="square second">
      <div class="square third">
        <div class="square fourth">
          <div class="text">Loading</div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div> -->

