<div *transloco="let t"  class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div *ngIf="!otpReceived" class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.svg">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Forgot password?</div>
            <div class="mt-0.5 font-medium">Fill the form to reset your password</div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Forgot password form -->
            <form
                class="mt-8"
                [formGroup]="forgotPasswordForm"
                #forgotPasswordNgForm="ngForm">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Username</mat-label>
                    <input
                        id="userName"
                        matInput
                        [formControlName]="'userName'">
                    <mat-error *ngIf="forgotPasswordForm.get('userName').hasError('required')">
                        userName is required
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('userName').hasError('userName')">
                        Please enter a valid username
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Mobile Number</mat-label>
                    <input
                        id="mobileNo"
                        matInput
                        [formControlName]="'mobileNo'">
                    <mat-error *ngIf="forgotPasswordForm.get('mobileNo').hasError('required')">
                        Mobile Numberis required
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('mobileNo').hasError('mobileNo')">
                        Please enter a valid Mobile Number
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-3"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="forgotPasswordForm.disabled"
                    (click)="sendResetLink()">
                    <span *ngIf="!forgotPasswordForm.disabled">
                        Send reset link
                    </span>
                    <mat-progress-spinner
                        *ngIf="forgotPasswordForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

                <!-- Form footer -->
                <div class="mt-8 text-md font-medium text-secondary">
                    <span>Return to</span>
                    <a
                        class="ml-1 text-primary-500 hover:underline"
                        [routerLink]="['/sign-in']">sign in
                    </a>
                </div>

            </form>
        </div>

        <div *ngIf="otpReceived" class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <div class="w-12">
                <img src="assets/images/logo/logo.svg">
            </div>

            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Enter OTP sent on your mobile</div>

            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <form
                class="mt-8"
                [formGroup]="OTPForm"
                #forgotPasswordNgForm="ngForm">

                <mat-form-field class="w-full">
                    <mat-label>OTP</mat-label>
                    <input
                        id="OTP"
                        matInput
                        [formControlName]="'token'">
                    <mat-error *ngIf="OTPForm.get('token').hasError('required')">
                        Valid OTP is required
                    </mat-error>
                    <mat-error *ngIf="OTPForm.get('token').hasError('token')">
                        Please enter a valid OTP
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>New Password</mat-label>
                    <input
                        id="password"
                        matInput
                        [formControlName]="'password'">
                    <mat-error *ngIf="OTPForm.get('password').hasError('required')">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="OTPForm.get('password').hasError('pattern')">
                        Password Pattern must contain one smallcase, one uppercase , one number, one special character and of max length 8 character
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Confirm Password</mat-label>
                    <input
                        id="confirmPassword"
                        matInput
                        [formControlName]="'confirmPassword'">
                    <mat-error *ngIf="OTPForm.get('confirmPassword').hasError('required')">
                        Confirm Password is required
                    </mat-error>
                    <mat-error *ngIf="OTPForm.get('confirmPassword').hasError('matching')">
                        Password Doesn't Match
                    </mat-error>
                </mat-form-field>

                
                <button
                    class="fuse-mat-button-large w-full mt-3"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="OTPForm.disabled"
                    (click)="sendOtp()">
                    <span *ngIf="!OTPForm.disabled">
                        Reset Password
                    </span>
                    <mat-progress-spinner
                        *ngIf="forgotPasswordForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

                <div class="mt-8 text-md font-medium text-secondary">
                   
                    <a
                        class="ml-1 text-primary-500 hover:underline" (click)="change()"
                        >Change Mobile Number
                    </a>
                </div>

            </form>
        </div>
    </div>
    


    <div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full overflow-hidden dark:border-l">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <swiper swiper-container class="!w-full !h-full" [slidesPerView]="1"
          [autoplay]="{ delay:2500, disableOnInteraction: false }" [loop]="true" [spaceBetween]="50">
          <ng-template swiperSlide class="!w-full !h-full" *ngFor="let s of slides">
    
            <img class="!w-full !h-full" [src]="s">
    
          </ng-template>
    
        </swiper>
    
        
    
    </div>



</div>
