<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content class="mat-typography ">
    <div class="w-full max-w-screen-2xl ">
        <form class="overflow-hidden" [formGroup]="changePasswordForm">
            <div class="flex  flex-wrap -mx-3 mb-2 pt-2">

                <!-- <mat-form-field class="w-full px-3 py-2  mb-6 md:mb-0">
                    <mat-label>Email Address</mat-label>
                    <input matInput [formControlName]="'email'" type="email" placeholder="Email Address" readonly>
                </mat-form-field> -->

                <div class="flex justify-center w-full mb-3">
                    <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                        [type]="alert.type" [@shake]="alert.type === 'error'">
                        <span class="">{{ alert.message }}</span>
                    </fuse-alert>
                </div>

                <mat-form-field class="w-full px-3 py-2  mb-6 md:mb-0">
                    <mat-label>Old Password</mat-label>
                    <input matInput number type="password" #passwordField [placeholder]="'Old Password'"
                        formControlName="oldPassword">
                    <button mat-icon-button type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'">
                        </mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'">
                        </mat-icon>
                    </button>

                </mat-form-field>
                <mat-form-field class="w-full px-3 py-2  mb-6 md:mb-0">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" number #passwordField1
                        (keyup)="validationCheck($event.target.value)" formControlName="password"
                        [placeholder]="'New Password'">
                    <button mat-icon-button type="button"
                        (click)="passwordField1.type === 'password' ? passwordField1.type = 'text' : passwordField1.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField1.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'">
                        </mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField1.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'">
                        </mat-icon>
                    </button>

                </mat-form-field>
                <mat-form-field class="w-full px-3 py-2  mb-6 md:mb-0">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" number #passwordField2 [placeholder]="'Confirm Password'"
                        [formControlName]="'confirmPassword'">
                    <button mat-icon-button type="button"
                        (click)="passwordField2.type === 'password' ? passwordField2.type = 'text' : passwordField2.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField2.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'">
                        </mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField2.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'">
                        </mat-icon>
                    </button>
                    

                </mat-form-field>
                <div *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid" class="text-red-500 ml-4">
                    <div *ngIf="f.confirmPassword.errors.required">Password is required.</div>
                    <div *ngIf="f.confirmPassword.errors.confirmedValidator">Password and Confirm Password must be match.</div>
                </div>
            </div>
        </form>
    </div>

    <div class="w-full max-w-screen-sm ">
        <div class=" p-5">
            <div>
                <ul style=" list-style-type: none;display: inline;" class="list-inline">
                    <li #passMin>
                        <i [ngClass]="passMinboolean ? 'fa fa-check-circle':'fa fa-times-circle'"></i> Minimum password:
                        6
                    </li>
                    <li #passMax>
                        <i [ngClass]="passMaxboolean ? 'fa fa-check-circle':'fa fa-times-circle'"></i> Maximum password:
                        16
                    </li>
                    <li #passUpper>
                        <i [ngClass]="upperBoolean ? 'fa fa-check-circle':'fa fa-times-circle'"></i> Min Upper Letter: 1
                    </li>
                    <li #passLower>
                        <i [ngClass]="lowerBoolean ? 'fa fa-check-circle':'fa fa-times-circle'"></i> Min Small Letter: 1
                    </li>
                    <li #passNum>
                        <i [ngClass]="numBoolean ? 'fa fa-check-circle':'fa fa-times-circle'"></i> Numeric: 1
                    </li>
                    <li #passChar>
                        <i [ngClass]="specialBoolean ? 'fa fa-check-circle':'fa fa-times-circle'"></i> Min Special
                        character: 1
                    </li>
                    <li>
                        Special Characters: ! $
                        % & @ #
                    </li>
                </ul>
            </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" (click)="Submit()">OK</button>
</mat-dialog-actions>