<div class="mx-auto">



    <div *transloco="let t" [formGroup]="ministryForm"> 

      <mat-form-field class="w-full" appearance="fill">

        <mat-label>{{ t('Fiscal Year') }} </mat-label>
        <mat-select placeholder="Fiscal Year" [formControlName]="'budYear'" required
        (selectionChange)="selectfiscal($event)">
        <mat-option *ngFor="let data of fiscalYears" [value]="data.code">
          <span *ngIf="activeLang=='tr'" >{{ data.ndescription }}</span><span *ngIf="activeLang=='en'" >{{ data.edescription }}</span>
        </mat-option>
      </mat-select>
      </mat-form-field>
      
      <mat-form-field class="w-full" appearance="fill" >
        <mat-label>{{ t('Province') }}</mat-label>
        <mat-select #select1 placeholder="Province Number" [formControlName]="'provinceId'" required
        (selectionChange)="selectprovince($event)">
        <mat-select-filter *ngIf="select1.focused" [array]="Provinces" [displayMember]="'code'"
        (filteredReturn)="filteredProvinces =$event"></mat-select-filter>      
        <mat-option *ngFor="let data of filteredProvinces" [value]="data.code">
          {{data.code}}-<span *ngIf="activeLang=='tr'" >{{ data.ndescription }}</span><span *ngIf="activeLang=='en'" >{{ data.edescription }}</span>
        </mat-option>
      </mat-select>
      </mat-form-field>
     
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ t('Ministry') }} </mat-label>
        <mat-select  #select2 placeholder="Ministry" formControlName="ministryId" required>
          <mat-select-filter *ngIf="select2.focused" [array]="Ministry" [displayMember]="'code'"
          (filteredReturn)="filteredMinistry =$event"></mat-select-filter>
          <!-- <mat-option *ngIf="Ministry.length>1" [value]="-1">
            All
          </mat-option> -->
          <mat-option *ngFor="let data of filteredMinistry" [value]="data.code">
            {{data.code}}-<span *ngIf="activeLang=='tr'" >{{ data.ndescription }}</span><span *ngIf="activeLang=='en'" >{{ data.edescription }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  <!--  -->
  
    <div class="flex justify-end mx-2 gap-x-2">
      <button mat-flat-button color="warn" (click)="close()">
        Cancel
      </button>
  
      <button mat-flat-button color="primary" (click)="save()">
        OK
      </button>
    </div>
  
  </div>