<div class="mx-auto">



  <div *transloco="let t" [formGroup]="trimesterForm">

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>{{t('Select Trimester Period')}} </mat-label>
      <mat-select placeholder="Month" [formControlName]="'trimester'" (selectionChange)="setTrimester($event)" required>
        <mat-option *ngFor="let data of trimesterPeriod" [value]="data.Trimesterid">
          <span *ngIf="activeLang=='tr'">{{ data.nvalue }}</span><span *ngIf="activeLang=='en'">{{ data.evalue }}</span>

        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>{{t('Fiscal Year')}} </mat-label>
      <mat-select placeholder="fiscal year" [formControlName]="'BudYearId'" (selectionChange)="selectfiscal($event)"
        required>
        <mat-option *ngFor="let data of fiscalYears" [value]="data.code">
          {{ data.edescription }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>{{t('Province')}} </mat-label>
      <mat-select placeholder="province" [formControlName]="'provinceId'" (selectionChange)="selectprovince($event)"
        required>
        <mat-option *ngFor="let data of Provinces" [value]="data.code">
          {{data.code}}-{{ data.ndescription }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>{{t('Amount Digit')}} </mat-label>
      <mat-select placeholder="Amount" [formControlName]="'AmountDigit'" (selectionChange)="amountchange($event)"
        required>
        <mat-option *ngFor="let data of AmountDigit" [value]="data.id">
          <span *ngIf="activeLang=='tr'">{{ data.nvalue }}</span><span *ngIf="activeLang=='en'">{{ data.evalue }}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div class="flex justify-end mx-2 gap-x-2">
    <button mat-flat-button color="warn" (click)="close()">
      Cancel
    </button>

    <button mat-flat-button color="primary" (click)="save()">
      OK
    </button>
  </div>

</div>